@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
.estilo-titulo, h1, h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Nunito", sans-serif;
  background-color: #e6e6e6; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px; }

p {
  font-size: 16px;
  margin: 5px; }

button {
  padding: 5px;
  border-radius: 1px; }
  button:hover {
    background-color: #f0b9b9; }

main {
  min-height: 4px; }

header {
  background-color: #f0b9b9; }
  header img {
    height: 100px;
    width: 200px;
    margin-left: 10px;
    object-fit: contain; }
  header .navbar {
    background-color: #f0b9b9 !important;
    padding: 0; }
    header .navbar .navbar-brand {
      padding: 0;
      margin: 0; }
    header .navbar .container-fluid {
      justify-content: space-between;
      align-items: end; }
      header .navbar .container-fluid .navbar-collapse {
        justify-content: end; }
      header .navbar .container-fluid .navbar-toggler {
        align-self: center; }
  header nav ul {
    list-style: none;
    display: flex;
    align-items: baseline; }
    header nav ul li a {
      text-decoration: none;
      color: #3c3232 !important;
      font-weight: bold;
      font-size: 18px !important;
      transition-duration: 0.3s !important; }
      header nav ul li a:hover {
        color: white !important;
        transform: scale(1.05); }
      header nav ul li a.active {
        font-size: 20px !important; }
  header nav .navbar-collapse ul {
    align-items: end; }

.banner img {
  height: 300px;
  width: 100%;
  object-fit: cover; }

.galeria-grid {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 50px;
  grid-auto-rows: 378px;
  justify-content: center;
  margin-bottom: 40px; }
  .galeria-grid div {
    text-align: center;
    border: 2px solid transparent;
    transition: 1s; }
    .galeria-grid div:hover {
      border-width: 2px;
      border-style: solid;
      border-radius: 10px;
      transform: scale(1.08); }
    .galeria-grid div img {
      height: 250px;
      width: 200px;
      object-fit: cover; }
    .galeria-grid div h3 {
      margin-bottom: 0;
      font-size: 19px; }
    .galeria-grid div p.cuotas {
      font-size: 13px;
      margin-bottom: 10px; }
    .galeria-grid div button {
      border-color: #969696 !important;
      color: black !important;
      transition-duration: 0.4s; }
      .galeria-grid div button:hover {
        background-color: #f0b9b9;
        border-color: #f0b9b9 !important; }

.sobre-nosotros {
  display: grid;
  grid-template-columns: 500px 250px;
  gap: 30px;
  grid-template-rows: 250px;
  margin-bottom: 69px;
  justify-content: center;
  text-align: right;
  align-items: center; }
  .sobre-nosotros img {
    height: 100%;
    width: 100%; }

.contacto p {
  margin-left: 30px;
  margin-right: 30px; }

.contacto form {
  display: grid;
  grid-template-columns: 100px 200px;
  gap: 5px 10px;
  grid-template-rows: 20px 20px 20px 40px 40px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 120px; }
  .contacto form .form-control {
    border-color: #969696 !important; }
  .contacto form div {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: left;
    margin-top: 2px !important; }
    .contacto form div button {
      border-color: #969696 !important;
      color: black !important;
      transition-duration: 0.4s; }
      .contacto form div button:hover {
        background-color: #f0b9b9;
        border-color: #f0b9b9 !important;
        transform: scale(1.03); }

.whatsapp {
  position: fixed;
  bottom: 50px;
  right: 50px; }
  .whatsapp img {
    width: 60px; }

footer {
  background-color: #f0b9b9;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  footer div {
    margin-right: 125px; }
  footer img {
    height: 50px;
    width: 50px;
    margin: 10px; }

.logo-footer {
  height: 50px;
  width: 100px;
  object-fit: contain; }

@media screen and (max-width: 850px) {
  .galeria-grid {
    gap: 50px 10px; }
  .sobre-nosotros {
    grid-template-columns: 400px 200px;
    grid-template-rows: 200px; }
  .sobre-nosotros div p {
    font-size: 13px; } }

@media screen and (max-width: 770px) {
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 25px; }
  h3 {
    font-size: 16px !important; }
  p {
    font-size: 13px;
    margin: 3px; }
    p.cuotas {
      font-size: 11px !important;
      margin-bottom: 5px !important; }
  header img {
    height: 80px;
    width: 180px; }
  .galeria-grid {
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: 303px;
    gap: 30px 10px; }
  .galeria-grid div img {
    height: 200px;
    width: 150px; }
  .galeria-grid button {
    font-size: 13px; } }

@media screen and (max-width: 690px) {
  header img {
    height: 50px;
    width: 150px;
    margin: 10px; }
  .banner img {
    height: 200px; }
  .sobre-nosotros {
    grid-template-columns: 400px;
    grid-template-rows: 200px 200px;
    text-align: center; }
  .sobre-nosotros img {
    object-fit: contain; } }

@media screen and (max-width: 630px) {
  header nav ul li a {
    font-size: 14px !important; }
    header nav ul li a.active {
      font-size: 17px !important; }
  .galeria-grid {
    grid-template-columns: 200px 200px; }
  .novedades .galeria-grid div:nth-child(3) {
    display: none; }
  .mas-vendidos .galeria-grid div:nth-child(3) {
    display: none; }
  .productos .galeria-grid div:nth-child(9) {
    display: none; } }

@media screen and (max-width: 570px) {
  header {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 520px) {
  .whatsapp {
    bottom: 40px;
    right: 40px; }
  .whatsapp img {
    width: 50px; }
  footer div {
    margin-right: 100px; }
  footer img {
    height: 40px;
    width: 40px;
    margin: 5px; } }

@media screen and (max-width: 480px) {
  .banner img {
    height: 150px; } }

@media screen and (max-width: 410px) {
  header nav ul {
    flex-direction: column;
    text-align: center; }
  header nav ul li {
    margin: 5px; }
  h2 {
    font-size: 20px; }
  .banner {
    display: none; }
  .galeria-grid {
    grid-template-columns: 200px; }
  .productos .galeria-grid div:nth-child(9) {
    display: block; }
  .sobre-nosotros {
    grid-template-columns: 300px; } }
