/** FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Questrial&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/** RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Questrial", sans-serif;
    background-color: rgb(230, 230, 230);
}

/** HEADER */

header {
    background-color: rgb(240, 185, 185);
    display: flex;
    justify-content: space-between;
    align-items: end;
}
header img {
    height: 100px;
    width: 200px;
    margin-left: 10px;
    object-fit: contain;
}
header nav ul {
    list-style: none;
    display: flex;
}
header nav ul li {
    margin: 10px;
}
header nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
}
header nav ul li a:hover {
    color: rgb(255, 255, 255);
}

/** MAIN */

.banner img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}
h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
h3{
    font-size: 19px;
}
p {
    font-size: 16px;
    margin: 5px;
}
.galeria-grid div img {
    height: 250px;
    width: 200px;
    object-fit: cover;
}
.galeria-grid div {
    text-align: center;
    border: 2px solid transparent;
    /* border-width: 2px;
    border-style: solid;
    border-color: transparent; */
}
.galeria-grid div:hover {
    border-width: 2px;
    border-color: rgb(240, 185, 185);
    border-style: solid;
    border-radius: 5px;
}
.galeria-grid {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-auto-rows: 300px;
    gap: 50px;
    justify-content: center;
    margin-bottom: 40px;
}
.sobre-nosotros {
    display: grid;
    grid-template-columns: 500px 250px;
    grid-template-rows: 250px;
    margin-bottom: 69px;
    justify-content: center;
    text-align: right;
    align-items: center;
    gap: 30px;
}
.sobre-nosotros img {
    height: 100%;
    width: 100%;
}
.contacto p {
    margin-left: 30px;
    margin-right: 30px;
}
.contacto form {
    display: grid;
    grid-template-columns: 100px 200px;
    grid-template-rows: 20px 20px 20px 40px 40px;
    margin-left: 20px;
    margin-right: 20px;
    gap: 5px 10px;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 120px;
}
.contacto form div {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: left;
    margin-top: 10px;
}
button {
    padding: 5px;
    border-radius: 1px;
}
button:hover{
    background-color: rgb(240, 185, 185);
}

/** WHATSAPP */
.whatsapp {
    position: fixed;
    bottom: 50px;
    right: 50px;
}
.whatsapp img {
    width: 60px;
}

/** FOOTER */
footer {
    background-color: rgb(240, 185, 185);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer div {
    margin-right: 125px;
}
.logo-footer {
    height: 50px;
    width: 100px;
    object-fit: contain;
}
footer img {
    height: 50px;
    width: 50px;
    margin: 10px;
}

/** MEDIA QUERIES */
@media screen and (max-width: 850px){
    .galeria-grid {
        gap: 10px;
    }
    .sobre-nosotros {
        grid-template-columns: 400px 200px;
        grid-template-rows: 200px;
    }
    .sobre-nosotros div p {
        font-size: 15px;
    }
}
@media screen and (max-width: 770px){
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 16px;
    }
    p {
        font-size: 13px;
    }
    header img {
        height: 80px;
        width: 180px;
    }
    .galeria-grid {
        grid-template-columns: repeat(3, 200px);
        grid-auto-rows: 250px;
    }
    .galeria-grid div img {
        height: 200px;
        width: 150px;
    }
}
@media screen and (max-width: 690px) {
    header img {
        height: 50px;
        width: 150px;
        margin: 10px;
    }
    .sobre-nosotros {
        grid-template-columns: 400px;
        grid-template-rows: 200px 200px;
        text-align: center;
    }
    .sobre-nosotros img {
        object-fit: contain;
    }
}
@media screen and (max-width: 630px) {
    header nav ul li a {
        font-size: 14px;
    }
    .galeria-grid {
        grid-template-columns:  200px 200px;
    }
    .novedades .galeria-grid div:nth-child(3) {
        display: none;
    }
    .mas-vendidos .galeria-grid div:nth-child(3) {
        display: none;
    }
    .productos .galeria-grid div:nth-child(9) {
        display: none;
    }
}
@media screen and (max-width: 570px) {
    header {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 520px) {
    .whatsapp {
        bottom: 40px;
        right: 40px;
    }
    .whatsapp img {
        width: 50px;
    }
    footer div {
        margin-right: 100px;
    }
    footer img {
        height: 40px;
        width: 40px;
        margin: 5px;
    }
}
@media screen and (max-width: 410px) {
    header nav ul {
        flex-direction: column;
        text-align: center;
    }
    header nav ul li {
        margin: 5px;
    }
    h2 {
        font-size: 20px;
    }
    .banner {
        display: none;
    }
    .galeria-grid {
        grid-template-columns: 200px;
    }
    .productos .galeria-grid div:nth-child(9) {
        display: block;
    }
    .sobre-nosotros {
        grid-template-columns: 300px;
    }
}
