.contacto {
    p {
        margin-left: 30px;
        margin-right: 30px;
    }
    form {
        @include grid(100px 200px, 5px 10px);
        grid-template-rows: 20px 20px 20px 40px 40px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: right;
        margin-top: 20px;
        margin-bottom: 120px;
        .form-control {
            border-color: rgb(150, 150, 150) !important;
        }
        div {
            grid-column-start: 2;
            grid-column-end: 3;
            text-align: left;
            margin-top: 2px !important;
            button {
                border-color: rgb(150, 150, 150) !important;
                color: black !important;
                transition-duration: 0.4s;
                &:hover {
                    background-color: $color-principal;
                    border-color: $color-principal !important;
                    transform: scale(1.03);
                }
            }
        }
    }
}