footer {
    background-color: $color-principal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
        margin-right: 125px;
    }
    img {
        height: 50px;
        width: 50px;
        margin: 10px;
    }
}
.logo-footer {
    height: 50px;
    width: 100px;
    object-fit: contain;
}