header {
    background-color: $color-principal;
    img {
        height: 100px;
        width: 200px;
        margin-left: 10px;
        object-fit: contain;
    }
    .navbar {
        background-color: $color-principal !important;
        padding: 0;
        .navbar-brand {
            padding: 0;
            margin: 0;
        }
        .container-fluid {
            justify-content: space-between;
            align-items: end;
            .navbar-collapse  {
                justify-content: end;
            }
            .navbar-toggler {
                align-self: center;
            }
        }
    }
    nav {
        ul {
            list-style: none;
            display: flex;
            align-items: baseline;
            li {
                a {
                    text-decoration: none;
                    color: rgb(60, 50, 50) !important;
                    font-weight: bold;
                    font-size: 18px !important;
                    transition-duration: 0.3s !important;
                    &:hover {
                        color: rgb(255, 255, 255) !important;
                        transform: scale(1.05);
                    }
                    &.active {
                        font-size: 20px !important; 
                    }
                }
            }
        }
        .navbar-collapse {
            ul {
                align-items: end;
            }
        }
    }
}