.sobre-nosotros {
    @include grid(500px 250px, 30px);
    grid-template-rows: 250px;
    margin-bottom: 69px;
    justify-content: center;
    text-align: right;
    align-items: center;
    img {
        height: 100%;
        width: 100%;
    }
}