//* FONTS
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

//* VARIABLES
$color-principal: rgb(240, 185, 185);

//* RESET
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Nunito", sans-serif;
    background-color: rgb(230, 230, 230);
}
h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
h3{
    font-size: 19px;
}
p {
    font-size: 16px;
    margin: 5px;
}
button {
    padding: 5px;
    border-radius: 1px;
    &:hover {
        background-color: $color-principal;
    }
}